<button (click)="facture=true; buisness=false">Facture</button>
<button (click)="facture=false; buisness=false">GPS</button>
<button (click)="buisness=true;">Buisness</button>
<div *ngIf="!facture && !buisness" class="gps">
  <div id="map"></div>
  <div id="right-panel">
    <button (click)=initMap()>calculer</button>
    <div id="directions-panel"></div>
  </div>
</div>
<div *ngIf="buisness" class="buisness">
  <div class="graph"></div>
</div>
<div *ngIf="facture && !buisness" class="facture">

  <div class="contact">
    <p>Monsieur et Madame {{kids[kidService.values].lastName}}</p>
    <p>{{kids[kidService.values].address}}</p>
  </div>
  <div class="total">$ 599.00</div>
  <div class="nom">
    <ul>
      <li *ngFor="let item of toyService.letterData">{{item.name}}</li>
    </ul>
  </div>
  <div class="prix">
      <ul>
        <li *ngFor="let item of toyService.letterData">{{item.price}}</li>
      </ul>
    </div>

</div>