#right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 400px;
        float: left;
        width: 70%;
      }
      #right-panel {
        margin: 20px;
        border-width: 2px;
        width: 20%;
        height: 400px;
        float: left;
        text-align: left;
        padding-top: 0;
      }
      #directions-panel {
        margin-top: 10px;
        background-color: #FFEE77;
        padding: 10px;
      }
.facture {
  background-image: url("../../assets/img/facture.png");
  background-size: cover;
  width: 1000px;
  height:1000px;
}
.contact {
  position: absolute;
  top: 237px;
  left: 88px;
  color: white;
}
.graph {
  background-image: url("../../assets/img/screenshot-dashboard.png");
  background-size: cover;
  background-size: contain;
  width: 100vw;
  height: 100vh;
}
.nom {
  color: black;
  position: absolute;
  top: 551px;
  left: 178px;
}
.prix {
  color: black;
  position: absolute;
  top: 545px;
  left: 807px;
}
.total {
  position: absolute;
  top: 290px;
  left: 768px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

ul {
  list-style-type: none;
}
li {
  line-height: 48px;
}