<div class="col-md-6">
  <div class="col-md-12">
    <p>En attente de production</p>
  </div>
<ul>
  <li *ngFor= "let item of toyService.letterData"  >
    <p *ngIf="item.status == false">
      {{item.name}}</p>
      <button *ngIf="item.status == false" (click)="done(item)">Done</button>
      <button *ngIf="item.status == false" (click)="getTechImg(item)">tech</button>
     
    </li>
</ul>
</div>
<div class="col-md-6">
    <div class="col-md-12">
        <p>En attente d'expédition</p>
      </div>
<ul>
  <li *ngFor= "let item of toyService.letterData"><p *ngIf="item.status == true">{{item.name}}</p></li>
</ul>
</div>
<div class="container">
  <img src="{{this.url}}" alt="">
</div>

<div class="contactList">
  <h2>{{kids[kidService.values].firstName}}{{kids[kidService.values].lastName}}</h2>
  <img src="{{kids[kidService.values].photoUrl}}">
  <p>{{kids[kidService.values].address}}</p>
</div>
