<router-outlet></router-outlet>
<div>
<button id="previous" data-increment="-1">Previous</button>
<section class="container">
  <div id="carousel" class="panels-backface-invisible">
    <figure  *ngFor="let toy of toys" (click)="onSelect(toy)" [ngClass]="toyservice.getNgClass(toy)">
      <img  src="{{toy.imgToyUrl}}"><a>{{toy.name}}</a>
    </figure>
  </div>
</section>
<button id="next" data-increment="1">Next</button>
</div>
<ul>
    <li *ngFor = "let item of toyservice.selectedList"><img src="{{item.imgToyUrl}}" alt=""></li>
  </ul>
