<router-outlet></router-outlet>
<div class="totocarousel">

  <section class="container">
    <div id="carousel" class="panels-backface-invisible">
      <figure *ngFor="let toy of toys" (click)="onSelect(toy)" [ngClass]="toyservice.getNgClass(toy)">
        <img src="{{toy.imgToyUrl}}">
        <a>{{toy.name}}</a>
      </figure>
    </div>

  </section>
</div>
<div class="center">
  <div class="navSelect">
    <button id="previous" (click)="carouselControl(-1)"></button>
    <span class="invisible">clic sur les jouets</span>
    <button id="next" (click)="carouselControl(1)"></button>
  </div>
</div>
<div class="selection">
<td>
  <i *ngFor="let item of toyservice.selectedList">
    <img src="{{item.imgToyUrl}}" alt="">
  </i>
  <button id="send" (click)="submitList()"></button>    
</td>
</div>
