.navSelect{ 
margin-top : 100px;
}
.center{
    text-align: center;
}
i img{
    width: 80px;
    height: 80px;
}
.picked{
   opacity: 0.4;
}

#buttonsControl{
    display: flex;
    flex-direction: row;
}

.carouselButton{
    height: 30px;
    margin: 10px;
   
}

.carousel-control {
    position: absolute;
    top: 40%;
    z-index: 5;
    display: inline-block;
    opacity: 0.5;
}

#carousel.panels-backface-invisible figure {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

img {
    width: 180px;
    height: 180px;
}

li {
    list-style-type: none;
    cursor: pointer;
    font-family: comic;
    color: black;
    font-size: 20px;
    text-shadow: 3px;
}

a {
    margin-left: 5px;
    color: black;
}

.liens {
    margin-left: 25%;
}

a.disabled {
    color: black !important;
    pointer-events: none;
    cursor: default;
}

a {
    color: rgba(255, 255, 255, 0.8);
}

a:visited {
    color: rgba(255, 255, 255, 0.8);
}

.container {
    width: 210px;
    height: 140px;
    position: relative;
    margin: 200px auto 40px;
    -webkit-perspective: 1100px;
    -moz-perspective: 1100px;
    -o-perspective: 1100px;
    perspective: 1100px;
}

#carousel {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: translateZ( -663px);
    -moz-transform: translateZ( -663px);
    -o-transform: translateZ( -663px);
    transform: translateZ( -663px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
}

#carousel figure {
    display: block;
    position: absolute;
    width: 186px;
    height: 116px;
    right: 0px;
    bottom: 0px;
    top: 12px;
    left: 12px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    cursor: pointer;
    margin: 0 0;
}

#carousel figure:nth-child(1) {
    -webkit-transform: rotateY( 0deg) translateZ( 663px);
    -moz-transform: rotateY( 0deg) translateZ( 663px);
    -o-transform: rotateY( 0deg) translateZ( 663px);
    transform: rotateY( 0deg) translateZ( 663px);
}

#carousel figure:nth-child(2) {
    -webkit-transform: rotateY( 18deg) translateZ( 663px);
    -moz-transform: rotateY( 18deg) translateZ( 663px);
    -o-transform: rotateY( 18deg) translateZ( 663px);
    transform: rotateY( 18deg) translateZ( 663px);
}

#carousel figure:nth-child(3) {
    -webkit-transform: rotateY( 36deg) translateZ( 663px);
    -moz-transform: rotateY( 36deg) translateZ( 663px);
    -o-transform: rotateY( 36deg) translateZ( 663px);
    transform: rotateY( 36deg) translateZ( 663px);
}

#carousel figure:nth-child(4) {
    -webkit-transform: rotateY( 54deg) translateZ( 663px);
    -moz-transform: rotateY( 54deg) translateZ( 663px);
    -o-transform: rotateY( 54deg) translateZ( 663px);
    transform: rotateY( 54deg) translateZ( 663px);
}

#carousel figure:nth-child(5) {
    -webkit-transform: rotateY( 72deg) translateZ( 663px);
    -moz-transform: rotateY( 72deg) translateZ( 663px);
    -o-transform: rotateY( 72deg) translateZ( 663px);
    transform: rotateY( 72deg) translateZ( 663px);
}

#carousel figure:nth-child(6) {
    -webkit-transform: rotateY( 90deg) translateZ( 663px);
    -moz-transform: rotateY( 90deg) translateZ( 663px);
    -o-transform: rotateY( 90deg) translateZ( 663px);
    transform: rotateY( 90deg) translateZ( 663px);
}

#carousel figure:nth-child(7) {
    -webkit-transform: rotateY( 108deg) translateZ( 663px);
    -moz-transform: rotateY( 108deg) translateZ( 663px);
    -o-transform: rotateY( 108deg) translateZ( 663px);
    transform: rotateY( 108deg) translateZ( 663px);
}

#carousel figure:nth-child(8) {
    -webkit-transform: rotateY( 126deg) translateZ( 663px);
    -moz-transform: rotateY( 126deg) translateZ( 663px);
    -o-transform: rotateY( 126deg) translateZ( 663px);
    transform: rotateY( 126deg) translateZ( 663px);
}

#carousel figure:nth-child(9) {
    -webkit-transform: rotateY( 144deg) translateZ( 663px);
    -moz-transform: rotateY( 144deg) translateZ( 663px);
    -o-transform: rotateY( 144deg) translateZ( 663px);
    transform: rotateY( 144deg) translateZ( 663px);
}

#carousel figure:nth-child(10) {
    -webkit-transform: rotateY( 162deg) translateZ( 663px);
    -moz-transform: rotateY( 162deg) translateZ( 663px);
    -o-transform: rotateY( 162deg) translateZ( 663px);
    transform: rotateY( 162deg) translateZ( 663px);
}

#carousel figure:nth-child(11) {
    -webkit-transform: rotateY( 180deg) translateZ( 663px);
    -moz-transform: rotateY( 180deg) translateZ( 663px);
    -o-transform: rotateY( 180deg) translateZ( 663px);
    transform: rotateY( 180deg) translateZ( 663px);
}

#carousel figure:nth-child(12) {
    -webkit-transform: rotateY( 198deg) translateZ( 663px);
    -moz-transform: rotateY( 198deg) translateZ( 663px);
    -o-transform: rotateY( 198deg) translateZ( 663px);
    transform: rotateY( 198deg) translateZ( 663px);
}

#carousel figure:nth-child(13) {
    -webkit-transform: rotateY( 216deg) translateZ( 663px);
    -moz-transform: rotateY( 216deg) translateZ( 663px);
    -o-transform: rotateY( 216deg) translateZ( 663px);
    transform: rotateY( 216deg) translateZ( 663px);
}

#carousel figure:nth-child(14) {
    -webkit-transform: rotateY( 234deg) translateZ( 663px);
    -moz-transform: rotateY( 234deg) translateZ( 663px);
    -o-transform: rotateY( 234deg) translateZ( 663px);
    transform: rotateY( 234deg) translateZ( 663px);
}

#carousel figure:nth-child(15) {
    -webkit-transform: rotateY( 252deg) translateZ( 663px);
    -moz-transform: rotateY( 252deg) translateZ( 663px);
    -o-transform: rotateY( 252deg) translateZ( 663px);
    transform: rotateY( 252deg) translateZ( 663px);
}

#carousel figure:nth-child(16) {
    -webkit-transform: rotateY( 270deg) translateZ( 663px);
    -moz-transform: rotateY( 270deg) translateZ( 663px);
    -o-transform: rotateY( 270deg) translateZ( 663px);
    transform: rotateY( 270deg) translateZ( 663px);
}

#carousel figure:nth-child(17) {
    -webkit-transform: rotateY( 288deg) translateZ( 663px);
    -moz-transform: rotateY( 288deg) translateZ( 663px);
    -o-transform: rotateY( 288deg) translateZ( 663px);
    transform: rotateY( 288deg) translateZ( 663px);
}

#carousel figure:nth-child(18) {
    -webkit-transform: rotateY( 306deg) translateZ( 663px);
    -moz-transform: rotateY( 306deg) translateZ( 663px);
    -o-transform: rotateY( 306deg) translateZ( 663px);
    transform: rotateY( 306deg) translateZ( 663px);
}

#carousel figure:nth-child(19) {
    -webkit-transform: rotateY( 324deg) translateZ( 663px);
    -moz-transform: rotateY( 324deg) translateZ( 663px);
    -o-transform: rotateY( 324deg) translateZ( 663px);
    transform: rotateY( 324deg) translateZ( 663px);
}

#carousel figure:nth-child(20) {
    -webkit-transform: rotateY( 342deg) translateZ( 663px);
    -moz-transform: rotateY( 342deg) translateZ( 663px);
    -o-transform: rotateY( 342deg) translateZ( 663px);
    transform: rotateY( 342deg) translateZ( 663px);
}