.kids-pic{
    height: 200px;
    width: 200px;
    border-radius:50%;
}
.btnScan{
    position: absolute;
    top: 240px;
    left: 530px;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    opacity: 0;
}
.inputScan{
opacity: 0;    
}